Node-Red/Smart_Trash_Bin_Flow.json
[
    {
        "id": "d68b99ae21550aec",
        "type": "tab",
        "label": "Proyek_AIoT",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "bceacd0183869bfa",
        "type": "mqtt in",
        "z": "d68b99ae21550aec",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f83c5627801f002d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "f5a2b2075f246d4b",
                "e69a5e997db7b3c4",
                "5bd324f2e1f3add7"
            ]
        ]
    },
    {
        "id": "06ef79e267e7afd5",
        "type": "mqtt in",
        "z": "d68b99ae21550aec",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f83c5627801f002d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "97e2cd8577434052",
                "e8d0642e7b1fda43",
                "cc0fd9c72a650a84"
            ]
        ]
    },
    {
        "id": "473758c63e4673f5",
        "type": "mqtt in",
        "z": "d68b99ae21550aec",
        "name": "",
        "topic": "esp32/load",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f83c5627801f002d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "9d638d5b8dce48d4",
                "26663d361b0bc587"
            ]
        ]
    },
    {
        "id": "97e2cd8577434052",
        "type": "debug",
        "z": "d68b99ae21550aec",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "9d638d5b8dce48d4",
        "type": "debug",
        "z": "d68b99ae21550aec",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "f5a2b2075f246d4b",
        "type": "ui_chart",
        "z": "d68b99ae21550aec",
        "name": "",
        "group": "9869e0d36b80345d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e8d0642e7b1fda43",
        "type": "ui_chart",
        "z": "d68b99ae21550aec",
        "name": "",
        "group": "9869e0d36b80345d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "26663d361b0bc587",
        "type": "ui_gauge",
        "z": "d68b99ae21550aec",
        "name": "",
        "group": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Trash Bin Load",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "8e68be45e95f7fc9",
        "type": "ui_switch",
        "z": "d68b99ae21550aec",
        "name": "",
        "label": "Servo switch",
        "tooltip": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 740,
        "wires": [
            [
                "02b768247f4b7a4c",
                "ef1c7bf2b5885227"
            ]
        ]
    },
    {
        "id": "02b768247f4b7a4c",
        "type": "mqtt out",
        "z": "d68b99ae21550aec",
        "name": "",
        "topic": "esp32/servo",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f83c5627801f002d",
        "x": 470,
        "y": 740,
        "wires": []
    },
    {
        "id": "ef1c7bf2b5885227",
        "type": "debug",
        "z": "d68b99ae21550aec",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 800,
        "wires": []
    },
    {
        "id": "f482a610d5eb2bc8",
        "type": "mqtt in",
        "z": "d68b99ae21550aec",
        "name": "",
        "topic": "esp32/co2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f83c5627801f002d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "3c4029494d859586",
                "6863fed064e8047b",
                "847f62bd4e1407a6"
            ]
        ]
    },
    {
        "id": "3c4029494d859586",
        "type": "debug",
        "z": "d68b99ae21550aec",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "6863fed064e8047b",
        "type": "ui_gauge",
        "z": "d68b99ae21550aec",
        "name": "",
        "group": "9869e0d36b80345d",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Trash Bin Gas",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 420,
        "y": 380,
        "wires": []
    },
    {
        "id": "e69a5e997db7b3c4",
        "type": "change",
        "z": "d68b99ae21550aec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cc0fd9c72a650a84",
        "type": "change",
        "z": "d68b99ae21550aec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "humidity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "847f62bd4e1407a6",
        "type": "change",
        "z": "d68b99ae21550aec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "co2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5bd324f2e1f3add7",
        "type": "debug",
        "z": "d68b99ae21550aec",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "f83c5627801f002d",
        "type": "mqtt-broker",
        "name": "Laptop Diri_CALVIN-Student",
        "broker": "10.252.240.108",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9869e0d36b80345d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    }
]
